<section local-class="projects">
  <div local-class="search" class="d-flex align-items-center justify-content-around p-1 has-shadow-lg {{if this.toggle.show "y-show"}}"
    {{did-insert this.setTopPosition}} {{did-insert this.adjustTopPosition}}>

    <Projects::RadioBtn @for="API" @filter="api" />
    <Projects::RadioBtn @for="Bootstrap" @filter="bootstrap" />
    <Projects::RadioBtn @for="CSS" @filter="css" />
    <Projects::RadioBtn @for="Ember.js" @filter="ember.js" />
    <Projects::RadioBtn @for="HTML" @filter="html" />
    <Projects::RadioBtn @for="JavaScript" @filter="javascript" />
    <Projects::RadioBtn @for="SASS" @filter="sass" />
    <Projects::RadioBtn @for="Web Components" @filter="web components" />

    <label>
      <Input @value={{this.toggle.query}} placeholder="Search..." />
    </label>

    <button type="button" {{on "click" this.toggle.clear}} aria-label="Clear">
      Clear Filters
    </button>

  </div>

  <h1 class="text-center text-white uppercase">{{this.toggle.query}} PROJECTS</h1>

  <Projects::Filter @projects={{@model}} @query={{this.toggle.query}} as |project|>
    <div class="container d-flex justify-content-center w-100">
      {{#each project as |project|}}
        <Card @project={{project}} />
      {{/each}}
    </div>
  </Projects::Filter>

</section>



