<section local-class="projects">
  <div local-class="search" class="d-flex align-items-center justify-content-around p-1 has-shadow-lg {{if this.toggle.show "y-show"}}"
    {{did-insert this.setTopPosition}} {{did-insert this.adjustTopPosition}}>

    <label for="api">API
      <Input type="radio" id="api" name="filter" {{on "click" (fn this.toggle.toggleFilter 'api')}} />
    </label>

    <label for="bs">Bootstrap
      <Input type="radio" id="bs" name="filter" {{on "click" (fn this.toggle.toggleFilter 'bootstrap')}} />
    </label>

    <label for="css">CSS
      <Input type="radio" id="css" name="filter" {{on "click" (fn this.toggle.toggleFilter 'css')}} />
    </label>
    <label for="ember">Ember.JS
      <Input type="radio" id="ember" name="filter" {{on "click" (fn this.toggle.toggleFilter 'ember.js')}} />
    </label>
    <label for="html">HTML
      <Input type="radio" id="html" name="filter" {{on "click" (fn this.toggle.toggleFilter 'html')}} />
    </label>
    <label for="js">JS
      <Input type="radio" id="js" name="filter" {{on "click" (fn this.toggle.toggleFilter 'javascript')}} />
    </label>
    <label for="wc">Web Components
      <Input type="radio" id="wc" name="filter" {{on "click" (fn this.toggle.toggleFilter 'web component')}} />
    </label>

    <label>
      <Input @value={{this.toggle.query}} placeholder="Search..." />
    </label>

    <button type="button" {{on "click" this.toggle.clear}} aria-label="Clear">
      Clear Filters
    </button>

  </div>

  <h1 class="text-center text-white uppercase">{{this.toggle.query}} PROJECTS</h1>

  <Projects::Filter @projects={{@model}} @query={{this.toggle.query}} as |project|>
    <div class="container d-flex justify-content-center w-100">
      {{#each project as |project|}}
        <Card @project={{project}} />
      {{/each}}
    </div>
  </Projects::Filter>

</section>



